@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";
a {
    text-decoration: none;
    color: white;
    padding: 0.6em;
    border-radius: 5px;
    margin: 20px;
}

p {
    margin-top: 3em;
}

.green {
    background-color: #008000;
}

.orange {
    background-color: #FF8C00;
}