html {
    font-family: Helvetica, sans-serif;
}

nav ul {
    margin-left: 50px;
}

header h1 {
    display: inline-block;
}

nav ul li {
    display: inline-block;
}

nav a {
    color: green;
    text-decoration: none;
    margin: 20px;
}

nav {
    margin-top: 60px;
    display: inline-block;
}

body {
    width: 1400px;
    margin: auto;
}